:root {
    --color-primary: #16423C;
    --color-secondary: #6A9C89;
    --color-green: #C4DAD2;
    --color-white: #FFFFFF;
    --color-background: #E9EFEC;
    --color-background-section: #F9F9F9;
    --color-text: #626766;
    --color-text-primary: #565C5F;
    --sign-out: #8a0000;
}

.title {
    color: var(--color-primary);
}

.primary-btn {
    border: none;
    position: relative;
    background-color: var(--color-primary);
    font-size: 1rem;
    color: var(--color-white);
    cursor: pointer;
    overflow: hidden;
}


.primary-content {
    color: var(--color-white);
    position: relative;
    z-index: 2;
}

.primary-btn span {
    position: absolute;
    width: 100%;
    height: 95px;
    background-color: var(--color-secondary);
    top: -50%;
    left: -100%;
    transition: all 0.3s;
    z-index: 1;
}

.primary-btn:hover span {
    left: -0%;
}


.secondary-btn {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: transparent;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.secondary-content {
    position: relative;
    color: var(--color-primary);
    z-index: 2;
}

.secondary-btn span {
    position: absolute;
    width: 100%;
    height: 95px;
    background-color: #16423c37;
    top: -50%;
    left: -100%;
    transition: all 0.3s;
    z-index: 1;
}

.secondary-btn:hover span {
    left: -0%;
}

.modal-header {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.label {
    color: var(--color-primary);
}

.table-custom {
    border: transparent;
}

.table-custom th {
    color: var(--color-primary);
    background-color: transparent;
}

.table-custom td {
    background-color: transparent;
    border: transparent;
}

.btn-custom {
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in-out !important;
}

.btn-custom:hover {
    transform: scale(1.1);
}