:root {
    --color-primary: #16423C;
    --color-secondary: #6A9C89;
    --color-green: #C4DAD2;
    --color-white: #FFFFFF;
    --color-background: #E9EFEC;
    --color-background-section: #F9F9F9;
    --color-text: #626766;
    --color-text-primary: #565C5F;
    --sign-out: #8a0000;
}

.title {
    color: var(--color-primary);
}

.gauge-card {
    transition: all 0.2s ease-in-out !important;
}

.gauge-card:hover {
    transform: scale(1.05);
}